workflow:
  rules:
    # For merge requests, create a pipeline.
    - if: '$CI_MERGE_REQUEST_IID'
    # For `master` branch, create a pipeline (this includes on schedules, pushes, merges, etc.).
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    # For tags, create a pipeline.
    - if: '$CI_COMMIT_TAG'
    # For stable, and security branches, create a pipeline.
    - if: '$CI_COMMIT_BRANCH =~ /^[\d-]+-stable(-ee)?$/'
    - if: '$CI_COMMIT_BRANCH =~ /^security\//'

include:
  - local: .gitlab/ci/prepare.yml
  - local: .gitlab/ci/test.yml

default:
  image: golang:1.17
  tags:
    - gitlab-org

.common:
  before_script:
    - make setup
  variables:
    GOPATH: $CI_PROJECT_DIR/.GOPATH
  cache:
    paths:
      - .GOPATH/pkg/mod/
    policy: pull

download deps:
  extends: .common
  before_script:
    - echo skipping
  script:
    - make deps-download
  cache:
    paths:
      - .GOPATH/pkg/mod/
    policy: push
