# Created by .ignore support plugin (hsz.mobi)
shared/pages/.update
/gitlab-pages
/gitlab-pages-deployer

# Used by the makefile
/.GOPATH
/bin

# Added by `make setup`
/vendor/manifest
/vendor/github.com/fzipp/gocyclo/
/vendor/golang.org/x/tools/
/vendor/github.com/wadey/gocovmerge/
/vendor/github.com/golang/lint/
